/* Richard Davies, Data Science for Economists */

/* This is my second proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Set the background color for my page: */
body{
    background-color: rgb(216, 240, 242);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Playfair Display', serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(177, 200, 238);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width: 348px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: rgb(40, 6, 163);

    
}
    