/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=League+Gothic&family=Merriweather:wght@400;900&family=Wire+One&display=swap');


/* Backgrounds */
body{
background-color: rgb(198, 230, 255);
}


/* Texts */
h1, h2, h3, h4, p{
text-align: center;
}

h1{
font-family: 'Merriweather', serif;
color:rgb(255, 255, 255);
background-color: rgb(198, 230, 255);
text-align: center;
letter-spacing: 2px;
}

h2{
font-family: 'Merriweather', serif;
color:rgb(255, 255, 255);
background-color: rgb(198, 230, 255);
text-align: center;
letter-spacing: 2px;
font-size: larger;
line-height: 3;
}

h3{
color:rgb(9, 65, 138);
font-family: 'Merriweather', serif;
text-align: center;
line-height: 1.5;
letter-spacing: 1px;
font-weight:700;
font-size: small;
}

h4{
color:rgb(9, 65, 138);
font-family: 'Merriweather', serif;
text-align: center;
line-height: 1;
letter-spacing: 1px;
font-weight:500;
font-size: small;
}


p{
font-family: 'Merriweather', serif;
color:rgb(0, 67, 138);
text-align: center;
font-weight:400;
font-size: small;
}


/* Buttons */
a{
border: 5px;
border-color: rgb(255, 255, 255);
border-style: solid;
margin: auto;
}
.wrap a{
float: left;
list-style-type: none;
text-align: center;
padding-top: clamp(0.5em,3%,1.5em);
padding-bottom: clamp(0.5em,3%,1.5em);
text-decoration: none;
font-size: 1.1em;
font-family: 'Merriweather', serif;
cursor: pointer;
width: 23.3%;
}

#link1{
background-color: rgba(255, 255, 255, 0.5);
padding:10px;
border:2px;
border-color:rgb(255, 255, 255);
border-style: solid;
border-radius: 2px;
font-family: 'Merriweather', serif;
font-weight:400;
color:rgb(9, 65, 138);
text-decoration: none;
text-align: center;   
}
#link1:hover{
background-color: rgba(255, 255, 255, 0.8);
border:2px;
border-color:rgb(9, 65, 138);
border-style: solid;
text-align: center;  
}

#link2{
background-color: rgba(255, 255, 255, 0.5);
padding:10px;
border:2px;
border-color:rgb(255, 255, 255);
border-style: solid;
border-radius: 2px;
font-family: 'Merriweather', serif;
font-weight:400;
color:rgb(9, 65, 138);
text-decoration: none;
text-align: center;      
}
#link2:hover{
background-color: rgba(255, 255, 255, 0.8);
border:2px;
border-color:rgb(9, 65, 138);
border-style: solid;
text-align: center;  
}

#link3{
background-color: rgba(255, 255, 255, 0.5);
padding:10px;
border:2px;
border-color:rgb(255, 255, 255);
border-style: solid;
border-radius: 2px;
font-family: 'Merriweather', serif;
font-weight:400;
color:rgb(9, 65, 138);
text-decoration: none;
text-align: center;  
}
#link3:hover{
background-color: rgba(255, 255, 255, 0.8);
border:2px;
border-color:rgb(9, 65, 138);
border-style: solid;
text-align: center;   
}

#link4{
background-color: rgba(255, 255, 255, 0.5);
padding:10px;
border:2px;
border-color:rgb(255, 255, 255);
border-style: solid;
border-radius: 2px;
font-family: 'Merriweather', serif;
font-weight:400;
color:rgb(9, 65, 138);
text-decoration: none;
text-align: center;    
}
#link4:hover{
background-color: rgba(255, 255, 255, 0.8);
border:2px;
border-color:rgb(9, 65, 138);
border-style: solid;
text-align: center;    
}


/* Standard week css  */
.myWeek1{
margin: auto;
max-width: 600px;
}
/* Set the apperance of the class, chart */
.chart {
background-color: rgb(255, 255, 255) ; 
width: 500px;
border-width: 3px;
border-style: solid;
border-radius: 0px;
border-color: white;
    align-content: center;
    line-height: 5;
    text-align: center;
    padding-top: clamp(0.5em,1%,1.5em);
    padding-bottom: clamp(0.5em,1%,1.5em);
}

/* Week 5 css */
.myWeek5{
    margin: auto;
    max-width: 600px;
    }
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center !important;
    vertical-align: bottom;
    text-align: center !important;
    align-content: center;
    max-width: 90%;
    margin:auto;
    max-width: 1200px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: xx-small;
  }
  .grid-item {
    padding: 10px;
    font-size: 10px;
    margin: 0 auto;
  }


